# MySQL Docker
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=stock_sales
MYSQL_USER=your_app_user
MYSQL_PASSWORD=your_app_password
MYSQL_PORT=3306

# Prisma
DATABASE_URL="mysql://your_app_user:your_app_password@localhost:3306/stock_sales"

# Auth
AUTH_SECRET=sua_chave_super_secreta_aqui
AUTH_URL=http://localhost:3000